@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

html {
  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.owl-carousel {
  width: 100%;
  /* ... (el resto de tu código) ... */
}
.owl-carousel .slide {
  width: 100%;
  height: 100vh; /* Ajustar la altura */
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.owl-carousel .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.owl-carousel .slide-1 {
  background-image: url(../imagenes/12.jpg);
}
.owl-carousel .slide-2 {
  background-image: url(../imagenes/15.jpg);
}
.owl-carousel .slide-3 {
  background-image: url(../imagenes/20.jpg);
}
.owl-carousel .slide-content {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuir elementos verticalmente */
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  /* Agrega estilos para el segundo h1 */
}
.slide-content p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 4%;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}
.slide-content h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}
.slide-content h1:last-child {
  font-size: 1.2rem;
  font-weight: 400;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 5%;
}

.contenedorC1 {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.contenedorC1 h1 {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
  font-family: "Tenor Sans", sans-serif;
}
.contenedorC1 h2 {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Pinyon Script", cursive;
}
.contenedorC1 p {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.contenedorC1 .botonC1 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  border-style: none;
}
.contenedorC1 .abrir-modal {
  text-decoration: none;
  padding: 1em 3em;
  border-radius: 8px;
  display: inline-block;
  font-weight: 300;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-top: 30px;
  color: rgb(118, 71, 46);
  background-color: rgba(255, 255, 255, 0.538);
}

button {
  background-color: rgba(255, 255, 255, 0.538);
  cursor: pointer;
  transition: transform 1000ms;
  padding: 1em 2em;
  border-style: none;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
button:hover, button:focus-visible {
  transform: translateY(-0.55rem);
  transition: transform 500ms;
  background-color: rgb(221, 173, 135);
  color: rgb(118, 71, 46);
}
button a {
  text-decoration: none;
  color: rgb(118, 71, 46);
}

.contenedorImg {
  position: relative;
  width: 100%; /* Ajusta el ancho deseado */
  margin: 0 auto; /* Para centrar horizontalmente */
}

.contenedorImg img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .contenedorImg {
    width: 100%; /* Cambiar el ancho para dispositivos más pequeños */
  }
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.parallax-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.parallax-image {
  width: 100%;
  max-width: 1200px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.7411764706);
  display: flex;
  border-radius: 10px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  --transform: translateY(0);
  transition: opacity 0.6s 0.8s;
}

.modal-container {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal-arg {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
  mix-blend-mode: unset !important;
  float: left;
  position: relative;
  z-index: 2;
  min-height: 1px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100% !important;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin: 0 !important;
}

.modal-aus {
  box-sizing: border-box;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
  mix-blend-mode: unset !important;
  border: 0 solid #333;
  float: left;
  position: relative;
  z-index: 2;
  min-height: 1px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100% !important;
  border-color: #dbdbdb;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-top-width: 1px;
  border-left-width: 0px;
  margin: 0 !important;
  margin-right: 0 !important;
}

.modal-title {
  font-size: 1.5rem;
  color: rgb(221, 173, 135);
}

.modal-sub {
  font-size: 1.2rem;
}

.modal.cbu {
  margin-bottom: 10px;
}

.modal-close {
  text-decoration: none;
  color: #fff;
  background-color: rgb(221, 173, 135);
  padding: 1em 3em;
  border-radius: 8px;
  display: inline-block;
  font-weight: 300;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
}

body {
  background-color: rgb(207, 189, 176);
}

@media (max-width: 800px) {
  .modal-container {
    padding: 2em 1.5em;
  }
  .modal-title {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
