aside{

    background:linear-gradient(rgb(226, 182, 158),rgb(207, 144, 105) );
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   background-size: cover;
   opacity: 70%;
   margin-bottom: 20px;
 h2{
   display: inline-block;
    color: rgb(250, 235, 229);
    
 }
 .AsistenciaBoton{
  margin-top: 20px;
  background: rgb(197,143,114);
 }
 

.emoji2{
  color: rgb(195, 135, 102);
  margin-bottom: 20px;
  border-color: rgba(255, 239, 230, 0.249);
}
}
