.contenedorC1 {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;


    h1 {
        display: flex;
        font-size: 3rem;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        color: black;
        font-family: 'Tenor Sans', sans-serif;


    }

    h2 {
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
       
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: 'Pinyon Script', cursive;
    }

    p {
        display: flex;
        font-size: 1rem;
        justify-content: center;
        align-items: center;

    }

    .botonC1 {
        display: flex;
        margin-top: 20px;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
        border-style: none;


    }

    .abrir-modal {
        text-decoration: none;
        padding: 1em 3em;
        border-radius: 8px;
        display: inline-block;
        font-weight: 300;
        box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        margin-top: 30px;
        color: rgb(118, 71, 46);
        background-color: rgba(255, 255, 255, 0.538);

    }
}