button {
    background-color: rgba(255, 255, 255, 0.538);
  
    cursor: pointer;
    transition: transform 1000ms;
    padding: 1em 2em;
    border-style: none;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  
 
    &:hover,
    &:focus-visible {
        transform: translateY(-0.55rem);
        transition: transform 500ms;
        background-color: rgb(221, 173, 135);
        color: rgb(118, 71, 46);

    }

    a {
        text-decoration: none;
        color: rgb(118, 71, 46);
        ;

    }
}
