* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.owl-carousel {
  width: 75%;
  margin: 0 auto; /* Centro horizontal */


.slide {
  width: 100%;
  height: 50vh; /* Ajustar la altura */
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ... (el resto de tu código) ... */


.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.slide-1 {
  background-image: url(../imagenes/12.jpg);
}

.slide-2 {
  background-image: url(../imagenes/15.jpg);
}

.slide-3 {
  background-image: url(../imagenes/20.jpg);
}

.slide-content {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 0 20%;
}

.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1%;
}

.owl-dots span {
  width: 20px !important;
  height: 20px !important;
}

.owl-dots button {
  border: none !important;
  outline: none !important;
}

.owl-nav button {
  border: none !important;
  outline: none !important;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff !important;
  font-size: 65px !important;
  font-weight: bolder !important;
  background:none !important;
}

.owl-prev {
  left: 1%;
}

.owl-next {
  right: 1%;
}
}