.copas{
    background-image: url(../imagenes/pexels-photo-3171837.jpg);
    padding-top: 10.5rem;
   padding-bottom: 6rem;
   background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 10%;
  background-size: cover;
  opacity: 90%;
  margin-bottom: 10px;
}