@import "reseteo", "carousel", "bienvenida", "botones", "imgb&n", "instagram", "comollegar", "regalos";



 
body{
    font-family: 'EB Garamond', serif;
    font-family: 'Tenor Sans', sans-serif;
    background-color: rgb(248,244,241);
    background-image: url(../imagenes/fondo.text); /* Reemplaza 'ruta-de-tu-imagen.png' con la ruta de tu imagen */
    background-size: contain; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: repeat; /* Repite la imagen en el fondo */
    background-color: #f9f9f9; /* Color de fondo de respaldo */
  }


@media (max-width:800px){

.modal-container{
padding: 2em 1.5em;
}
.modal-title{
font-size: 2rem;
}
}