@import "reseteo", "carousel", "bienvenida", "botones", "imgb&n", "instagram", "comollegar", "regalos","contador";



body {
  background-color: rgb(207, 189, 176);

h1,h2{
  text-wrap: balance;
}
  p{
    font-family: 'Nunito', sans-serif;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(245, 242, 239);
  }
}


@media (max-width:800px) {

  .modal-container {
    padding: 2em 1.5em;
  }

  .modal-title {
    font-size: 2rem;
  }
}